@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

@layer base {
  button {
    @apply border border-black rounded-xl py-2 px-5;
  }
}
